@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Alata", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gm-style-iw-t {
  top: -60px !important;
}

.gm-style-iw.gm-style-iw-c {
  padding: 0 !important;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

.favoriteIcon:hover {
  cursor: pointer;
}
